# Python basics

## String formatting
Strings are immutable. That is \
a = 'hello world'\
a[0]='H'\
throws an error

3 types of string formatting
1. %s
2.{}.format
3.f

In [1]:
print("Hello %s"%'python')
print("Hello %s and %s"%('python','java'))

Hello python
Hello python and java

In [2]:
print("I love {}".format('programming'))

I love programming

In [3]:
a = 'python'
print(f"I love {a}")

I love python

In [4]:
len(a)

6

# Lists
Elements can be of different datatype\
indexing starts from 0\
mutable
can have duplicates\
uses []

In [41]:
my_list=[1,2,3,'a','string',1]
my_list

[1, 2, 3, 'a', 'string', 1]

In [6]:
len(my_list)

5

In [7]:
my_list[3]

'a'

In [8]:
my_list[3:]

['a', 'string']

To concat a list. This value doesn't get saved to the list

In [9]:
my_list+[99]

[1, 2, 3, 'a', 'string', 99]

In [10]:
my_list*2

[1, 2, 3, 'a', 'string', 1, 2, 3, 'a', 'string']

To save the value to the list

In [11]:
my_list += ['99']
my_list

[1, 2, 3, 'a', 'string', '99']

In [12]:
my_list*2

[1, 2, 3, 'a', 'string', '99', 1, 2, 3, 'a', 'string', '99']

Or we can use the append()

In [13]:
my_list.append('python')
my_list

[1, 2, 3, 'a', 'string', '99', 'python']

To remove last element from list

In [14]:
my_list.pop()

'python'

In [15]:
my_list

[1, 2, 3, 'a', 'string', '99']

sort() - can be used to sort the list is ascending order and list should have same datatype

In [16]:
b = [1,3,2,9,5]
b.sort()
b

[1, 2, 3, 5, 9]

To reverse the list

In [17]:
b.reverse()
b

[9, 5, 3, 2, 1]

Nested list - like a matrix

In [39]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,10]
matrix = [a,b,c]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 10]]

index() - To find the index of an element\
if 5 is in b and b is in matrix. Trying to print the index of b would work but not the index of 5

In [40]:
print(matrix.index(b))
matrix = [[1,2],[3,4]]
print(matrix.index([3,4]))

1
1

In [45]:
print(matrix.count([1,2]))
print(matrix.count(1))

1
0

# Tuples
Similar to list but immutable\
can have duplicates\
tuples uses ( )

In [42]:
t=(1,4,5,5,6)
t

(1, 4, 5, 5, 6)

In [20]:
t=(1,'a','python')
t

(1, 'a', 'python')

In [22]:
a.index(1)

0

In [43]:
t.count(5)

2

# Dictionaries
similar to hash table - works on key value pairs\
uses { }\
can use any datatype

In [49]:
dict = {1:"hello",'2':"world"}
dict

{1: 'hello', '2': 'world'}

In [52]:
print(dict['2'])
print(dict[1])

world
hello

In [59]:
dict={'k1':"abcd",'k2':"asdf"}
print(dict['k1'][1])

b

In [61]:
dict2 = {1:5,2:6}
dict2[2]-3

3

In [63]:
d={}
d['k1']='keerthi'
d['k2']='vasan'
d

{'k1': 'keerthi', 'k2': 'vasan'}

In [73]:
dict.keys()

dict_keys(['k1', 'k2'])

In [71]:
dict.values()

dict_values(['abcd', 'asdf'])

# Sets
unordered collection of unique element

In [75]:
x=(1,2)
print(type(x))
x=set()
x.add(5)
x.add(7)
print(type(x))

<class 'tuple'>
<class 'set'>

Removes the duplicates

In [80]:
list = [1,3,5,5,5,6]
print(set(list))
print(list)
len(set(list))

{1, 3, 5, 6}
[1, 3, 5, 5, 5, 6]

4

# None(Placeholder)

In [81]:
b=None
print(b)

None

In [82]:
b

# Conditional Statement
1.if\
2.else\
3.elif\
Every conditional statements and loops ends with :

In [2]:
if (5<3):
    print("yes")
else:
    print("no")

no

In [5]:
a=1
b=2
c=3
if(a == 5):
    print("a=5")
elif (a == 1):
    print ("a=1")
else:
    print("a is ",a)

a=1

# For loop

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(a.index(i))

0
1
2
3
4
5
6
7
8
9

In [11]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in l:
    if(i%2 == 0):
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd

# While loop

In [16]:
x=0
while (x<5):
    print("x = ",x)
    x += 1

x =  0
x =  1
x =  2
x =  3
x =  4

# Functions
Python function can return more than one value

In [25]:
def say_hello(name1,name2):
    return "hello "+name1, "hello "+name2

In [26]:
say_hello("vasan","keerthi")

('hello vasan', 'hello keerthi')

# Decorators
Assigning a function to a variable and this variable name can be used instead of the function name with same parameters to call the same function

In [27]:
greet = say_hello

In [28]:
greet

In [30]:
greet("ram","sita")

('hello ram', 'hello sita')

# Lambda
A small anonymous(without name) function which can take any number of arguments but can have only one expression\
lambda arguments : expression

In [31]:
x= lambda a: a+10
x(5)

15

In [32]:
x= lambda a,b: a*b
x(5,6)

30

In [43]:
def multiplier(n):
    return lambda a:a*n
doubler = multiplier(2)
tripler = multiplier(3)
print(doubler(10))
print(tripler(10))

20
30

# OOPS

In [4]:
class Cars:
    x="Maruthi"
Cars

__main__.cars

In [6]:
c=cars()
c.x

'Maruthi'

# \_\_init\_\_()
This method is used to define all data memebers in the class

In [26]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1=Person("Ram",40)
p2=Person("Sita",36)
print(p1.name)
print("Sita's age is %g"%p2.age)

Ram
Sita's age is 36

 # \_\_str\_\_()
 Tells us what has to be returned when a class is represented as a string

In [27]:
class Person:
    def __init__(self,name):
        self.name = name
p1=Person("John")

print(p1)

<__main__.Person object at 0x0000026AEFDF7D90>

In [28]:
class Person:
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return f"{self.name}"
        
p1 = Person("Jam")
print(p1)

Jam

# Member functions
first parameter to any function in python for a datamember or member function is self\
For global variable in python set the varaible inside class and outside the init()

In [37]:
class Circle:
    pi = 3.14
    def __init__(self,radius=1):
        self.radius = radius
        self.area = radius*radius*Circle.pi
    def setRadius(self,new_radius):
        self.radius = new_radius
        self.area = new_radius*new_radius*self.pi
    def printArea(self):
        print("Area of circle with radius %s is %s"%(self.radius,self.area))
        
c1 = Circle()
c1.printArea()
c2 = Circle (2)
c2.printArea()
c3 = Circle()
c3.setRadius(5)
print(c3.radius)

Area of circle with radius 1 is 3.14
Area of circle with radius 2 is 12.56
5

# Inheritance
Python supports single, multiple, multilevel, hierarchical and hybrid inheritance.

### Single inheritance

In [18]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def showDetail(self):
        print(self.name," : ",self.age)
        
class Student(Person):
    def __init__(self,name,age,qualification):
        Person.__init__(self,name,age)
        self.qualification = qualification
    def printQual(self):
        print(self.name," : ",self.qualification)
        
x = Student("Ram",20,"BCA")
x.printQual()
x.showDetail()

Ram  :  BCA
Ram  :  20

### Multilevel inheritance

In [44]:
class A:
    def __init__(self,fname):
        self.fname = fname
    def printFname(self):
        print("fname : ",self.fname)
        
class B(A):
    def __init__(self,fname,lname):
        A.__init__(self,fname)
        self.lname = lname
    def printLname(self):
        print("lastname : ",self.lname)
        
class C(B):
    def __init__(self,fname,lname,age):
        B.__init__(self,fname,lname)
        self.age = age
    def printAge(self):
        print("Age : ",self.age)
        
x = C("Ram","Raj",20)
x.printAge()
x.printFname()

Age :  20
fname :  Ram

### Hierarchical inheritance

In [19]:
class father:
    def __init__(self,name):
        self.name = name
    def getFname(self):
        print("Father name is : %s"%self.name)
        
class son1(father):
    def __init__(self,name,s1name):
        father.__init__(self,name)
        self.s1name = s1name
    def getS1name(self):
        print("Son name is %s %s"%(self.s1name,self.name))
        
class son2(father):
    def __init__(self,name,s2name):
        father.__init__(self,name)
        self.s2name = s2name
    def getS2name(self):
        print("Son name is %s %s"%(self.s2name,self.name))
        
ex1 = son1("Ram","Lavaa")
ex2 = son2("Ram","Kusaa")

ex1.getFname()
ex1.getS1name()

ex2.getFname()
ex2.getS2name()

Father name is : Ram
Son name is Lavaa Ram
Father name is : Ram
Son name is Kusaa Ram

In [ ]:
class